{% extends 'back_office/admin_dashboard/dashboard.html.twig' %}

{% block content %}

    <div class="pagetitle">
        <h1>Musique</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_back_office_admin_dashboard') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Albums</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateCreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.nom }}</td>
                <td>{{ album.dateCreation ? album.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_office_album_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('app_back_office_album_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_office_album_new') }}"><button class="btn btn-primary">Create new</button></a>

</main><!-- End #main -->
{% endblock %}