{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
 <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/template/img/bg-img/blog2.jpg);">
        <div class="bradcumbContent">
        <h2>Evenements</h2>
    </div>
</section>
<br>

{#affichage #}
           {% for evenement in evenements %}
        
        <div class="service-item mx-4">
{#affichage #}



          <img src="{{ asset('uploads/evenements/' ~evenement.photo)}}" style=" width:360px; height:250px; " alt="">
          <h6>{{ evenement.description }}</h6>
          <p><strong style="color:#696969">Date :</strong> {{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : ''}}</p>
          <p><strong style="color:#696969">Prix:</strong> {{ evenement.prix}}</p>
          <p><strong style="color:#696969" >Localisation:</strong> {{ evenement.adresse }}</p>
          <p><a href="{{ path('app_reservation_new', {'id': evenement.id}) }}" class="btn btn-info">Participer </a></p>
       




{#affichage #}
      
      
{#affichage #}

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}