
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="{{asset('template/img/core-img/favicon.ico')}}">
    

    {% block stylesheets %}
     <link rel="stylesheet" href="{{asset('template/style.css')}}">

    {% endblock %}

    
        
</head>

<body>
    
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="{{ path('app_home') }}" class="nav-brand"><img src="{{asset('template/img/core-img/logo2.png')}}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Evenements</a></li>
                                    <li><a href="">Albums</a></li>
                                    <li><a href="{{ path('app_home') }}">Catalogues</a></li>
                                    <li><a href="">Boutique</a></li>
                                    <li><a href="{{ path('app_home') }}">Reclamation</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="{{ path('app_home') }}" id="loginBtn">Connexion</a>
                                    </div>

                                    <!-- Cart Button -->
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    {% block body %}
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({{ asset('template/img/bg-img/bg-2.jpg')}});"></div>
                
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">SOUNDON</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">When words fail <span>When words fail</span>
                                </h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#"
                                    class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({{ asset('template/img/bg-img/bg-2.jpg')}});"></div
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">SOUNDON</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Music Speaks <span>Music Speaks</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#"
                                    class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See what’s new</p>
                        <h2>Latest Events</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius
                            rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis
                            nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec
                            in velit non elit pulvinar pellentesque et non eros.</p>
                    </div>
                </div>
            </div>

           {#affichage #}
<div class="service">
        <div class="container">
            <div class="section-header text-center">
         
            </div>
            <div class="row">
           {% for evenement in evenements %}
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="service-item">
{#affichage #}



          <img src="{{ asset('uploads/evenements/' ~evenement.photo)}}" style=" width:300px; height:200px; " alt="">
          <h6>{{ evenement.titre }}</h6>
          <p><strong style="color:#696969">Date :</strong> {{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : ''}}</p>
          <p><strong style="color:#696969">Prix:</strong> {{ evenement.prix}} DT</p>
          <p><strong style="color:#696969" >Adresse:</strong> {{ evenement.adresse }}</p>
     
          <p><a href="{{ path('app_reservation_new', {'id': evenement.id}) }}" class="btn btn-info">Participer </a></p>
          <p><a href="{{ path('app_evenement_map', {'idEvenement': evenement.id}) }}" class="btn btn-info">Localisation </a></p>
          
 <a href="#" id="like-dislike-btn" data-like="{{ path('like_evenement', {'id': evenement.id}) }}" data-dislike="{{ path('dislike_evenement', {'id': evenement.id}) }}">


<script>
    const likeDislikeBtn = document.getElementById('like-dislike-btn');
    let isLiked = false;
const likeCount = document.getElementById('like-count');
    likeDislikeBtn.addEventListener('click', () => {
        isLiked = !isLiked;
        const imgUrl = isLiked ? '{{ asset('uploads/evenements/dislike.png') }}' : '{{ asset('uploads/evenements/like.png') }}';
        const likeDislikeUrl = isLiked ? likeDislikeBtn.dataset.dislike : likeDislikeBtn.dataset.like;

        likeDislikeBtn.querySelector('img').src = imgUrl;
        likeDislikeBtn.href = likeDislikeUrl;
           fetch(likeDislikeUrl)
        .then(response => response.json())
        .then(data => {
            likeCount.innerText = data.likeCount;
        })
        .catch(error => {
            console.error(error);
        });
        
likeCount.innerText = data.likeCount;
    });
</script>		   
       


{# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons" ></div>
         {# -------------------------- Share ------------------------------------  #}

{#affichage #}
        </div>
      </div>
      
{#affichage #}

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
         {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2">
            <nav aria-label="col Page navigation example" style="margin-top:20px; margin-left:506px;" >
                <ul class="pagination" >
                    {% if page != 1 %}
                        <li class="page-item" >
                            <a
                                    class="page-link"
                                    href="{{ path('app_evenement_indexf', {page: page - 1, nbre: nbre}) }}"
                         >
                                Précédent
                            </a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_evenement_indexf', {page: i, nbre: nbre}) }}"
                            >{{ i }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_evenement_indexf', {page: page + 1, nbre: nbre}) }}"
                            >Suivant</a>
                        </li>
                    {% endif %}
                           </ul>
            </nav>

        </div>
    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest aAlbums Area End ##### -->

    <!-- ##### Featured Artist Area Start ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
        style="background-image: url(template/img/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="{{asset('template/img/bg-img/fa.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>See what’s new</p>
                            <h2>Buy What’s New</h2>
                        </div>
                        <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius
                            rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis
                            nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec
                            in velit non elit pulvinar pellentesque et non eros.</p>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>01. Main Hit Song</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="{{asset('template/audio/dummy-audio.mp3')}}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->

   {% endblock %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="{{asset('template/img/core-img/logo2.png')}}" alt=""></a>
                    <p class="copywrite-text"><a
                            href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    

    
    {% block javascripts %}
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{ asset('template/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ asset('template/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('template/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ asset('template/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ asset('template/js/active.js') }}"></script>
    {% endblock %}
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64065d7b567fbf001a2d5d17&product=inline-share-buttons&source=platform" async="async"></script>
</body>

</html>