<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="{{asset('template/img/core-img/favicon.ico')}}">
    <link rel="stylesheet" href="{{asset('template/style.css')}}">

    {% block stylesheets %}
   
    {% endblock %}

    
        
</head>

<body>
    {% block body %}
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {{ include('home/music-player.html.twig') }}
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="{{ path('app_home') }}" class="nav-brand"><img src="{{asset('template/img/core-img/logo2.png')}}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{{ path('app_evenement_indexf') }}">Evenements</a></li>
                                    <li><a href="{{ path('app_front_office_album_list') }}">Albums</a></li>
                                    <li><a href="{{ path('app_front_office_categorie') }}">Catalogues</a></li>
                                    <li><a href="{{ path('app_front_office_produit_index') }}">Boutique</a></li>
                                    <li><a href="">Reclamation</a>
                                        <ul class="dropdown">
                                            <li><a href="{{ path('app_reclamation_new',{'isBad':0}) }}">Passer une rec</a></li>
                                            <li><a href="{{ path('app_reclamation_index_user', {'id': 1}) }}">Voir recs</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                    {% if app.user %}
                                        <div class="login-register-btn mr-50">

                                             {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                        </div>

                                        {% else %}
                                            <div class="login-register-btn mr-50">

                                                 <a href="{{ path('app_login') }}" id="loginBtn">Connexion</a>
                                            </div>

                                    {% endif %}

                                    <!-- Cart Button -->
                                    {# <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div> #}
                                    {{render('front/office/panier/cart')}}
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    {% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(template/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">SOUNDON</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">When words fail <span>When words fail</span>
                                </h2>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(template/img/bg-img/bg-3.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">SOUNDON</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Music Speaks <span>Music Speaks</span></h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

   
    {% endblock %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="{{ path('app_home') }}"><img src="{{asset('template/img/core-img/logo2.png')}}" alt=""></a>
                    <p class="copywrite-text mb-5"><a
                            href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    

    {% endblock %}

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{ asset('template/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ asset('template/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('template/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ asset('template/js/plugins/plugins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ asset('template/js/active.js') }}"></script>
    {% block javascripts %}
    {% endblock %}

</body>

</html>