{% extends 'back_office/admin_dashboard/dashboard.html.twig' %}

{% block title %}Commande index{% endblock %}
{% block content %}

 <div class="pagetitle">
        <h1>Produit </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <h1>Commande </h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Totale</th>
                <th>DateCommande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.totale }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_office_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_back_office_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_office_commande_new') }}">Create new</a>
{% endblock %}
