<div class="mx-3">
    {{ form_start(form) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.nom) }}
        <span style="color:red;">{{ form_errors(form.nom) }}</span>
        {{ form_label(form.chemin) }}
        {{ form_widget(form.chemin, {'attr': {'class': 'form-control'} }) }}
        <span style="color:red;">{{ form_errors(form.chemin) }}</span>
        {{ form_label(form.idUser) }}
        {{ form_widget(form.idUser, {'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.idCategorie) }}
        {{ form_widget(form.idCategorie, {'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.idAlbum) }}
        {{ form_widget(form.idAlbum, {'attr': {'class': 'form-control'} }) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>